* {
  box-sizing: border-box; 
}

body {
  background: rgba(50, 50, 50, 1);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

#page {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  flex-wrap: nowrap;
}

#controls {
  position: absolute;
  padding: 10px;
  width: 20vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 1);
  overflow-y: scroll;
}

#svg-control {
  width: 20vw;
  background-color: white;
}

#svg-viewer {
  flex: 1 1 auto;
  order: 2;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#svg-viewer svg {
  display: block;
}

a.train-company, a.train-line {
  display: block;
  color: rgba(33, 33, 33, 1);
}

a.train-company:visited, a.train-line:visited {
  color: rgba(33, 33, 33, 1);
}

a.train-line {
  margin-left: 20px;
}

a.line.selected {
  background-color: rgb(248, 234, 190)
}

div.train-line-container{
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s linear;
}